<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<div class="container-home">
    <nav>
        <div class="nav-logo-home">Telemedicine
        </div>
        <ul class="nav-links">
            <li class="links"><a href=>Home</a></li>
            <li class="links"><a href=>About Us</a></li>
            <li class="links"> <a href=>Appointments</a></li>
            <li class="links"> <a href=>Contacts</a></li>
        </ul>
        <button class="btn">Register</button>
        <button class="btn">Login</button>
    </nav>
    <header class="header-home">
        <div class="content-home">
            <h1>
                <span>Get Quick</span>
                <br>Medical Services</h1>
            <p>
                In today’s fast-paced world, access to prompt and efficient medical services is crucial. HealthConnect empowers individuals with innovative telemedicine solutions, ensuring healthcare is accessible anytime, anywhere. Whether managing chronic conditions,
                seeking mental health support, or consulting expert doctors, we prioritize convenience, security, and personalized care. Trust us to deliver quality healthcare tailored to your needs.
            </p>
            <button class="btn">Get Services
                    </button>
        </div>

        <div class="image-home">
            <span class="image-bg"></span>
            <img src="/images/Doctor3.jpg" alt="header image">
            <div class="image-content image_content_1">
                <div class="icon">
                    <span><i class="ri-user-3-line"></i></span>
                </div>

                <div class="details">
                    <h4>1520+</h4>
                    <p>Active Clients</p>
                </div>
            </div>

            <div class="image-content image-content-2">
                <ul>
                    <li>
                        <span><i class="ri-check-line"></i></span> Get 20% offer every firstMonth
                    </li>
                    <li>
                        <span><i class="ri-check-line"></i></span> Expert Doctors
                    </li>
                </ul>
            </div>
        </div>
    </header>

</div>
<!--Services-->
<a name="Services"></a>
<div class="our-services ">
    <div class="services-heading ">
        <h2>Our Services</h2>
    </div>
    <div class="main-services ">
        <div class="other-services ">
            <div class="service-icon "></div>

            <h3>Virtual Doctor Consultations</h3>
            <p>Speak with a licensed doctor online for consultations regarding general health, symptoms, or conditions. Get real-time advice without leaving your home.</p>


        </div>
        <div class="other-services ">
            <div class="service-icon "></div>

            <h3>Prescription Refills</h3>
            <p>Conveniently request prescription refills online. Our doctors can review your case and provide a prescription without an in-person visit.</p>


        </div>
        <div class="other-services ">
            <div class="service-icon "></div>

            <h3>Mental Health Counseling</h3>
            <p>Connect with licensed therapists and counselors for mental health support, including therapy sessions, stress management, and more.</p>


        </div>
        <div class="other-services ">
            <div class="service-icon "></div>

            <h3>Chronic Disease Management</h3>
            <p>Manage chronic conditions such as diabetes, hypertension, and asthma with ongoing monitoring and support from healthcare professionals.</p>

        </div>
    </div>
</div>

<!--why choose us-->
<a name="AboutS"></a>
<div class="chooseus">
    <div class="choose-heading">
        <h2>Why Choose Us</h2>
    </div>
    <div class="reasons">
        <div class="reason-outline">
            <i class="fi fi-ss-user-key "></i>
            <h2>Convenience & Accessibility</h2>
            <p>Users can access healthcare anytime and anywhere, saving time and effort compared to traditional healthcare visits.</p>
        </div>
        <div class="reason-outline">
            <i class="fi fi-sr-doctor"></i>
            <h2>Certified Healthcare Professionals</h2>
            <p>Assurance that users are consulting with licensed and experienced doctors and healthcare providers..</p>
        </div>
        <div class="reason-outline">
            <i class="fi fi-ss-confidential-discussion"></i>
            <h2>Confidential & Secure</h2>
            <p>Focus on user privacy and security, ensuring all health data is encrypted and safe.</p>
        </div>
        <div class="reason-outline">
            <i class="fi fi-ss-time-twenty-four"></i>
            <h2>24/7 Availability</h2>
            <p>Round-the-clock availability for consultations, making the platform reliable for emergencies or flexible healthcare access.</p>
        </div>
    </div>
</div>
</div>
<!--About Us-->
<a name="About"></a>
<div class="about-us">
    <div class="about">
        <div class="about-content">
            <img src="images/Side2.jpeg" alt="whychooseus">
        </div>
        <div class="about-content">

            <div class="right-about-content">

                <h3>About Us</h3>
                <p>At HealthConnect we provide accessible, convenient, and personalized healthcare using certified professionals and secure technology.
                </p>

                <p>With years of experience in health sector and cutting-edge technology,our mission is to provide high-quality, confidential, and secure telemedicine services that empower individuals to take control of their health and well-being.
                </p>
                <p>We are committed to making healthcare more accessible, affordable, and patient-centric. HealthConnect offers a wide range of services, from virtual consultations to chronic disease management, mental health support, and more. Our goal
                    is to be your trusted partner in health, offering care whenever and wherever you need it.
                </p>
                <h3>Mission</h3>
                <p>To revolutionize healthcare by delivering innovative, technology-driven solutions that prioritize patient well-being, privacy, and convenience.
                </p>
                <h3>Vision</h3>
                <p>A world where everyone has access to quality healthcare, regardless of location, supported by technology that enhances the patient experience.
                </p>
                </p>
            </div>
        </div>
    </div>
</div>

</main>
<footer>
    <a name="Contact"></a>
    <div class="footer ">
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p>
                <a href="Mailto:maoashhealthconnect@gmail.com">
                    <box-icon name='envelope'></box-icon>maoashhealthconnect@gmail.com</a>
            </p>
            <p></p>
            <a href="tel:+254113918015 ">
                <box-icon name='phone-call' type='solid'></box-icon>+254113918015</a>
            </p>
            <p>
                <box-icon type='solid' name='location-plus'></box-icon>Address:254,Crater Automobile Building,5th Floor</p>

        </div>
        <div class="footer-content ">
            <h3>Quick Links</h3>
            <a href="#Home ">Home</a>
            <a href="#Services ">Services</a>
            <a href="#About">About</a>
            <a href="#Gallery">Gallery</a>
            <a href="#Contact ">Contact</a>
        </div>
        <div class="footer-content ">
            <h3>Follow Us</h3>
            <a href=" ">
                <box-icon name='facebook-circle' type='logo'></box-icon>
            </a>
            <a href=" ">
                <box-icon type='logo' name='whatsapp-square'></box-icon>
            </a>
            <a href=" ">
                <box-icon type='logo' name='instagram'></box-icon>
            </a>
            <a href=" "><i><box-icon type='logo' name='tiktok'></box-icon></i></a>
        </div>

    </div>
    <div class="copyright ">
        <p>&copy Copyright 2024 Mo-Ash Clinic.All rights Reserved</p>
    </div>
</footer>
</body>

</html>