<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav class="nav-links">
            <div class="nav-logo">
            </div>
            <ul>
                <li class="links"><a href=>Home</a></li>
                <li class="links"><a href=>About Us</a></li>
                <li class="links"> <a href=>Appointments</a></li>
                <li class="links"> <a href=>Contats</a></li>
            </ul>
            <button class="btn">Register</button>

            <form action="/patients/profile" method="get">
                <button type="submit" class="btn">View Profile</button>
            </form>

           
        </nav>

        <header class="header">
            <div class="content">
                <h1>
                    <span>Get Quick</span>
                    <br>Medical Services</h1>
                <p></p>
                <button class="btn">Get Services
                    </button>
            </div>

            <div class="image">
                <span class="image-bg"></span>
                <img src="" alt="">
                <div class="image-content.image-content-1">
                    <span><i></i></span>
                    <div class="details">
                        <h4>1520+</h4>
                        <p>Active Clients</p>
                    </div>
                </div>
                <div class="image-content.image-content-2">
                    <ul>
                        <li>
                            <span><i>check</i></span> Get 20% offer every firstMonth
                        </li>
                        <li>
                            <span><i>check</i></span>Expert Doctors
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
</body>

</html>